.copyright {
  display: flex;
  justify-content: space-between;
  padding: 19px 0 20px;
  margin-right: -7px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.copyright:hover .copyright__link-logo .copyright__icon,
.copyright:focus .copyright__link-logo .copyright__icon {
  fill: $green;
}

.copyright:active .copyright__link-logo .copyright__icon,
.copyright:active .copyright__link {
  opacity: 0.3;
}

.copyright__link {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: $gray;
  cursor: pointer;
  padding-top: 11px;
}

.copyright__icon {
  fill: #666666;
}

.copyright__link-logo {
  @media (min-width: $tablet-width) {
    margin-left: 16px;
  }
}
