.header {
  background-color: #ffffff;
  padding: 12px 0 0 0;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 23px 30px 0;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 54px 40px 0;
    width: 1300px;
    box-sizing: border-box;

    position: relative;

    &--index::after {
      content: "";
      position: absolute;
      height: 696px;
      width: 652px;
      background-image: url("../img/index-background-desktop@1x.jpg");
      top: 0;
      right: 0;
      z-index: 0;
    }
  }
}
