.main {
  overflow: hidden;
}

.main__title {
  margin: 15px 0 25px;

  @media (min-width: $tablet-width) {
    margin: 55px 0 55px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 71px;
  }
}

.main__text {
  color: $black;
  text-transform: uppercase;
  padding-right: 40px;
  margin-top: 0;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
    padding-right: 0;
    padding-left: 40px;
    max-width: 357px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.main__title-catalog {
  margin: 15px 0 28px;

  @media (min-width: $tablet-width) {
    margin: 55px 0 80px;
  }

  @media (min-width: $desktop-width) {
    margin: 70px 0 82px;
  }
}

.main__products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.main__additional-wrap {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 87px;
  }
}
