$black: #111111;
$white: #ffffff;
$gray: #444444;
$light-gray: #f2f2f2;
$dark-gray: #222222;
$green: #68b738;
$color-danger: #ff8282;
$tablet-width: 768px;
$desktop-width: 1300px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
